form {
    margin-bottom: 20px;
}

form div.error {
    color: red;
    line-height: 1.5;
    height: 25px;
}

form input:invalid, form input.invalid {
    border: 1px solid red;
}

form input.success {
    border: 1px solid green;
}
