#modal-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: none;
    opacity: 0;
    background: rgba(0, 0, 0, 0.65);
    transition: all 0.3s ease;
}

#modal-layer.active {
    display: block;
}
#modal-layer.animate {
    opacity: 1;
}

.modal {
    position: absolute;
    top: 25%;
    left: 35%;
    margin: auto;
    background: #fff;
    border-radius: 5px;
    width: 500px;
    min-height: 250px;
    z-index: 3;
    display: none;
    /*transform: rotateX(90deg) scale(0);*/
    opacity: 0;
    transition: all 1s ease;
}

.modal.active {
    display: block;
}

.animate {
    /*transform: rotateX(0deg) scale(1);*/
    opacity: 1;
}